@CHARSET "EUC-KR";
.mainDiv{
	font-family: '나눔고딕';
	border-collapse:collapse;
	margin: 10px;
	padding: 1px;
	border: 10px solid skyblue;	
}
#top{
	height:100px;
	text-align:center;
	width:100%;
	padding:10px;
}
#middle{
	height:500px;
	background-color:#ecebeb;
}
#bottom{
	height:10px;
	font-size:13px;
	text-align:center;
}
#title{
	font-size:25px;
	text-align: center;
	width:100%;
	color:red;
	vertical-align: cnter;
	font-weight:bold;
}
#nav{
	color:blue;	
	display:block;
	text-align:center;
}
	#nav li{
	display:inline-block;
	padding:30px;
}