<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
			<taglib-location>/WEB-INF/tlds/el-functions.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<url-pattern>/jspPractice/*</url-pattern>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<servlet-name>JDBCDriverLoader</servlet-name>
		<servlet-class>mvjsp.jdbc.loader.Loader</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>mvjsp.jdbc.loader.DBCPInit</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>MessageDaoProviderInit</servlet-name>
		<servlet-class>mvjsp.chap13.dao.MessageDaoProviderInit</servlet-class>
		<init-param>
			<param-name>dbms</param-name>
			<param-value>mysql</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
</web-app>